/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.v-card--variant-elevated,
.v-card--variant-flat {
    background-color: rgb(var(--v-theme-background));
}

html {
    overflow-y: auto;
}

.justify-between {
    justify-content: space-between;
}

.warp {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

.warp-sm {
    margin: 0 auto;
    max-width: 640px;
    position: relative;
    background: rgb(var(--v-theme-surface));
}